body
{
    color: white;
    background-color: black;
    text-align: center;
}

.title
{
    font-size: 35px;
    font-style: italic;
    text-decoration: underline;
}

.list
{
    font-size: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

a:link, a:visited
{
    text-decoration: none;
    color: white;
}

a:link:hover
{
    text-decoration: underline;
}